@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  .animation {
    transition: all 0.4s ease-in-out;
  }

  .myBorder {
    border-right: 1px;
    border-style: solid;
  }

  .navEffectsSmall {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      border-radius: 4px;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.69s ease-in-out;
    }

    &:nth-child(odd):hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    &::after {
      content: "";
      position: absolute;
      border-radius: 4px;
      width: 100%;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.69s ease-in-out;
    }

    &:nth-child(even):hover::after {
      transform-origin: right;
      transform: scaleX(1);
    }
  }

  .linksBorder {
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
  }

  .linksBorderLG {
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
  }

  .myShadow {
    box-shadow: 0px 0px 20px #8b848436;
  }

  .myDarkShadow {
    box-shadow: 0px 0px 20px #00000069;
  }

  .myTransition {
    transition: all 0.45s ease-in-out;
  }
  .myTransitionNone{
    transition: none;
  }
}
