@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: logo;
    src: url("/fonts/autas.ttf");
  }

  html {
    font-family: "Poppins", sans-serif;
  }

  .animation {
    transition: all 0.4s ease-in-out;
  }

  .myBorder {
    border-right: 1px;
    border-style: solid;
  }

  .navEffectsSmall {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      bottom: -7px;
      border-radius: 4px;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.69s ease-in-out;
    }

    &:nth-child(odd):hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    &::after {
      content: "";
      position: absolute;
      border-radius: 4px;
      width: 100%;
      bottom: -7px;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.69s ease-in-out;
    }

    &:nth-child(even):hover::after {
      transform-origin: right;
      transform: scaleX(1);
    }
  }

  .linksBorder {
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
  }

  .linksBorderLG {
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
  }

  .myShadow {
    box-shadow: 0px 0px 20px #8b848436;
  }

  .myDarkShadow {
    box-shadow: 0px 0px 20px #00000069;
  }

  .myTransition {
    transition: all 0.45s ease-in-out;
  }
  .myTransitionNone {
    transition: none;
  }

  .myRotation {
    transition: all 0.3s ease-in-out;
    transform: rotate(-90deg);
  }

  .myNewRotation {
    transition: all 0.3s ease-in-out;
    transform: rotate(-180deg);
  }
}
